@font-face {
  font-family: pokemon;
  src: url(./pokemon.ttf);
}
body {
  letter-spacing: 3px;
  background-color: rgb(42, 42, 42);
  color: rgb(243, 240, 236);
  display: flex;
  justify-content: center;
  height: auto;
  min-height: 100vh;
}
h1 {
  padding: 0px;
  margin: 0px;
  min-width: 1em;
  font-size: 30px;
}
.container {
  margin-top: 0%;
  font-family: pokemon;
  color: rgb(242, 255, 0);
  -webkit-text-stroke: 1px rgb(0, 81, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: f;
  gap: 0.5rem;
  width: 70vh;
  gap: 1em;
}
.reset {
  font-family: pokemon;
  font-size: large;
  letter-spacing: 0.2em;
  color: rgb(50, 50, 237);
  width: 6em;
  height: 3em;
  background-color: rgb(247, 255, 0);
  border: solid rgb(89, 58, 211) 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 3px 3px blue;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
p {
  align-items: center;
  justify-content: center;
  display: none;
  width: 1em;
  height: 1em;
  transition: none;
}
img {
  display: none;
}
.sprite {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 0);
  -webkit-text-stroke: 1px blue;
}
.cards {
  display: flex;
  flex-direction: column;
  background-image: url(./assets/pokeball_pixel.png);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 6rem;
  height: 6rem;
  size: fit-content;
}

.cards-back {
  background-image: none;
}
