@font-face {
  font-family: pokemon;
  src: url(./pokemon.ttf);
}

body {
  letter-spacing: 3px;
  background-color: rgb(42, 42, 42);
  color: rgb(243, 240, 236);
 
}

.container {

  font-family: pokemon;
  color: rgb(242, 255, 0);
  -webkit-text-stroke: 1px rgb(0, 81, 255);
  display: flex;
  flex-direction: center;
  padding: 1em;
  display: flex;
  border-radius: 5px;
}
.reset {
  font-family: pokemon;
  font-size: large;
  letter-spacing: 3px;
  color: rgb(50, 50, 237);
  width: 10em;
  height: 3em;
  background-color: rgb(247, 255, 0);
  border: solid rgb(89, 58, 211) 2px;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 3px 3px blue;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 2em;
  width: 600%;
  max-width: 60%;
  flex-wrap: wrap;
}
p {
  display: none;

  transition: none;
}
img {
  display: none;

  transition: none;
}

.sprite {
  display: block;
  color: rgb(255, 255, 0);
  -webkit-text-stroke: 1px blue;
}

.cards {
  display: grid;
  flex-direction: column;
  background-image: url(./assets/pokeball_pixel.png);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 5em;
  height: 10em;
}

.cards-back {
  background-image: none;

}
